/* :root {} */

* {
  /* margin: 0 !important;
  padding: 0 !important; */
  box-sizing: border-box !important;
  list-style: none;
}
body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

nav {
  width: 100%;
  padding: 10px 0 !important;
}
nav > .nav-btn {
  margin: auto;
  padding: 4px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fcfcfc !important;
}
nav > .nav-btn:hover {
  border: solid 2px #ccc;
  border-radius: 5px;
}

.nav-img {
  padding: 0 20px;
}
.nav-img img {
  max-width: 50px;
  max-height: 50px;
}

.card-container {
  width: 100%;
  padding: 12px 10% 0;
  display: flex;
}